/* nav menu */
body {
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: aliceblue;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #c60055;
  color: aliceblue;

  padding-left: 15px;
  padding-right: 15px;
}

.menu1 {
  padding: 0;
  padding-left: 6px;
  padding-top: 2px;
  font-size: 18px;
}

.menu1 i {
  font-size: 20px;
  padding-top: 4px;
  color: #f39bb8;
}

.menu2 {
  display: flex;
  padding-left: 0;
}

.menu2 li {
  list-style: none;
  padding: 8px 12px;
}

.menu2 li:hover {
  background-color: #ff79b0;
  border-radius: 4px;
}

.menu3 {
  display: flex;
}

.menu3 li {
  padding: 8px 12px;
  list-style: none;
}

.toogleBtn {
  display: none;
  position: absolute;
  right: 18px;
  padding: 0;
  font-size: 22px;
  color: #f39bb8;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 18px 18px 20px;
  }

  .menu2 {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu2 li {
    width: 100%;
    text-align: center;
  }

  .menu3 {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .toogleBtn {
    display: block;
    padding: 0;
  }

  .menu2.active,
  .menu3.active {
    display: flex;
  }
}

/* article */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  background-color: #ff4081;
  padding-bottom: 0;
}

.portfolio img {
  border-radius: 50%;
}

.portfolio .p1 {
  margin-bottom: 0;
  color: whitesmoke;
}

.portfolio .p2 {
  display: inline;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  padding-top: 0;
}

/* footer */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

:root {
  box-sizing: border-box;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background-color: hotpink;
  justify-content: center;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 12px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin: 0;
  padding: 0;
}

.stars__icon {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.js-clear {
  color: #fff;
}

.js-fill {
  color: gold;
}

.stars-phrase {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
}

@media (max-width: 27em) {
  .stars__icon {
    font-size: 2.5em;
  }

  .stars-phrase {
    font-size: 1em;
  }
}
